# ═══════════════════════════════════════════════
#  CREATOKITE — Environment Variables
#  Copy this to .env and fill ALL values
# ═══════════════════════════════════════════════

PORT=5000
NODE_ENV=development   # change to: production

# ── MongoDB Atlas ─────────────────────────────
# Atlas > Connect > Drivers > Copy SRV string
MONGODB_URI=mongodb://creaotokite123_db_user:Ercv6UnK0bS2KoDZ@ac-vqa5gye-shard-00-00.1bh8mvg.mongodb.net:27017,ac-vqa5gye-shard-00-01.1bh8mvg.mongodb.net:27017,ac-vqa5gye-shard-00-02.1bh8mvg.mongodb.net:27017/notuapp?ssl=true&replicaSet=atlas-kd6ff9-shard-0&authSource=admin&appName=Cluster0

# ── JWT (generate random 64-char strings) ─────
# Run: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=a93e12e394686a72966aa2fe0e8a4ff2fafd826ffa8f1df706f20dff2ba47bf4f8c8f5da9d454f77f9d25c99ca2a0b2f0fe5eebc491d2a7e74c10fbfbdeadf31

JWT_REFRESH_SECRET=e5bbe87718c76b5732c3968d8b608160ccef72c6eb0b49dfeb575db6d8d644260e62de28a980090bf83d9b9aaf157b71c9a0b54530d0487f2d59b8305df3ebd3

COOKIE_SECRET=5bc3fc7fe6435c06a5308530b214f1eb256bfbf76343387b38401863483925ee

JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d


# ── Frontend URL (NO trailing slash) ──────────
# Dev:
CLIENT_URL=http://localhost:5173
# Production (uncomment and set your actual frontend URL):
# CLIENT_URL=https://creatokite.vercel.app

# ── Seed admin credentials ────────────────────
ADMIN_EMAIL=admin@creatokite.com
ADMIN_PASSWORD=Admin@12345

# ── Social APIs (optional) ────────────────────
YOUTUBE_API_KEY=your_youtube_api_key
RAPIDAPI_KEY=your_rapidapi_key
RAPIDAPI_HOST=instagram-scraper-v21.p.rapidapi.com

# ── ScrapeCreators (FREE — 100 credits, no card needed) ──────────
# Sign up: https://app.scrapecreators.com
SCRAPECREATORS_KEY_PROFILE=your_scrapecreators_profile_key
SCRAPECREATORS_KEY_REELS=your_scrapecreators_reels_key

#── Automated e-mail ────────────────────
RESEND_API_KEY=your_resend_api_key

#── Google authentication ────────────────────
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000


#── Automated E-mail ────────────────────
EMAIL_USER=your_email_user
EMAIL_PASS=your_email_password